<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>The AFP4Mule reference application sample build job.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>7</daysToKeep>
    <numToKeep>7</numToKeep>
    <artifactDaysToKeep>7</artifactDaysToKeep>
    <artifactNumToKeep>7</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.30"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@10.0.0.198:29418/Mule</url>
        <credentialsId>adop-jenkins-master</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger plugin="gerrit-trigger@2.14.0">
		<spec/>
		<gerritProjects>
			<com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
			<compareType>PLAIN</compareType>
			<pattern>Mule</pattern>
			<branches>
				<com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
					<compareType>PLAIN</compareType>
					<pattern>develop</pattern>
				</com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
			</branches>
			</com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
		</gerritProjects>
	<skipVote>
		<onSuccessful>false</onSuccessful>
		<onFailed>false</onFailed>
		<onUnstable>false</onUnstable>
		<onNotBuilt>false</onNotBuilt>
	</skipVote>
	<silentMode>false</silentMode>
	<notificationLevel/>
	<silentStartMode>false</silentStartMode>
	<escapeQuotes>true</escapeQuotes>
	<noNameAndEmailParameters>false</noNameAndEmailParameters>
	<dependencyJobsNames/>
	<readableMessage>false</readableMessage>
	<buildStartMessage/>
	<buildFailureMessage/>
	<buildSuccessfulMessage/>
	<buildUnstableMessage/>
	<buildNotBuiltMessage/>
	<buildUnsuccessfulFilepath/>
	<customUrl/>
	<serverName>__ANY__</serverName>
	<triggerOnEvents>
		<com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginRefUpdatedEvent/>
	</triggerOnEvents>
	<dynamicTriggerConfiguration>false</dynamicTriggerConfiguration>
	<triggerConfigURL/>
	<triggerInformationAction/>
	</com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Maven>
      <targets>clean install -U -DskipTests</targets>
      <mavenName>ADOP Maven</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
    <hudson.plugins.groovy.SystemGroovy plugin="groovy@1.25">
      <scriptSource class="hudson.plugins.groovy.FileScriptSource">
        <scriptFile>/var/jenkins_home/scriptler/scripts/pipeline_params.groovy</scriptFile>
      </scriptSource>
      <bindings></bindings>
      <classpath></classpath>
    </hudson.plugins.groovy.SystemGroovy>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/*</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
	<hudson.plugins.git.GitPublisher plugin="git@2.3.5">
		<configVersion>2</configVersion>
		<pushMerge>false</pushMerge>
		<pushOnlyIfSuccess>true</pushOnlyIfSuccess>
		<forcePush>true</forcePush>
		<tagsToPush>
			<hudson.plugins.git.GitPublisher_-TagToPush>
				<targetRepoName>origin</targetRepoName>
				<tagName>$JOB_NAME-$BUILD_NUMBER</tagName>
				<tagMessage/>
				<createTag>true</createTag>
				<updateTag>false</updateTag>
			</hudson.plugins.git.GitPublisher_-TagToPush>
		</tagsToPush>
	</hudson.plugins.git.GitPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.27">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>B=${BUILD_NUMBER}
PARENT_BUILD=${JOB_NAME}</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>afp4Mule-sf-sonar</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.26">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>